/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap'); */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Thin.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Light.ttf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Medium.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: 
        url('fonts/roboto/Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Black.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format("truetype");
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.top {
    background-color: #1d2937;
    color: white;
    padding: 0 185px 0 142px;
}

.top header {
    display: flex;
    padding: 17px 0;
}

.top header p {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
    flex-grow: 2;
}

.top header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.top nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.hero {
    display: flex;
    padding: 100px 0;
    gap: 20px;
    align-items: center;
    font-weight: 200;
}

.hero .main .title {
    font-weight: 900;
    font-size: 48px;
}

.hero .main .sub-title {
    color: #efe7eb;
    font-size: 18px;
    padding-bottom: 10px;
}

.hero .main button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    font-size: 16px;
    width: 120px;
    height: 35px;
    border-radius: 6px;
    border: none
}

.hero .hero-image-continer {
    background-color: grey;
    flex: 2
}

.content {
    padding: 0 185px 100px 142px;
}

.content-header {
    text-align: center;
    padding: 36px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.content-images {
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px;
    gap: 10px;
}

.content-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.content-images p {
    font-size: 12px;
    text-align: center;
}

.content img {
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote-div {
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote-div p {
    color: #1f2937;
}